body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

.introduction, .about, .resume, .projects, .contact {
    margin-bottom: 20px;
}

.introduction img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 50%;
}
.project img {
    max-width: 600px;
    height: auto;
    max-height: 450px;
}
.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style for buttons */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Style for the form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .introduction img {
        max-width: 100px;
    }

    main {
        padding: 10px;
    }

    .project {
        padding: 5px;
    }
}